.img {
  margin-left: 50%;
  width: 50%;
  position: absolute;
  top: 0;
  opacity: 0.5;
}

body {
  /* background-color: blanchedalmond; */
  background-image: linear-gradient(#056a9f, #fc8f02);
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 20px;
  letter-spacing: 5px;
  float: left;
}

a {
  color: black;
  text-decoration: none;
  font-family: Century Gothic;
}

a:hover {
  color: #fcca02;
}

#t {
  color: black;
  font-weight: bold;
  padding: 80px 0px 0px 0px;
  margin: 0px;
}

#st {
  padding-left: 90px;
  margin-top: 0px;
  color: #ff9696;
  font-family: Century Gothic;
  font-size: 35px;
}

.btns {
  
}

.btn {
  font: bold 20px century gothic;
  border-radius: 20px;
  outline: none;
  display: block;
}

.login {
  color: white;
  padding: 12px 170px;
  margin-bottom: 15px;
  background-color: #00eaff;
  border: 2px solid #00eaff;
}

.login:hover {
  cursor: pointer;
  background-color: rgba(255, 150, 0);
  border-color: rgba(222, 150, 0, 0.8);
}

.signup {
  left: 97px;
  padding: 12px 164px;
  border: 2px solid #056a9f;
  color: #056a9f;
  background-color: transparent;
}

.signup:hover {
  cursor: pointer;
  background-color: rgba(222, 150, 0, 0.8);
}
